{% extends 'home/index.html.twig' %}

{% block contenu %}

	<div class="uk-child-width-1-3@m" uk-grid>
		{% if galleries is defined %}
			{% for gallerie in galleries %}
				{% if gallerie.checkRGPD %}
					<div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top" uk-lightbox="animation: fade">
								<a class="uk-inline" href="{{ asset('images/nomGallerie_image/' ~ gallerie.nomImage) }}" data-caption="{{ gallerie.description}}">
									<img src="{{ asset('images/nomGallerie_image/' ~ gallerie.nomImage) }}" alt="">
								</a>
							</div>
							<div class="uk-card-body">
								<h3 class="uk-card-title">{{ gallerie.titre}}</h3>
								<p>{{ gallerie.description}}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script uikit.lightbox(element, options);></script>
	<script uikit.lightboxpanel(paneloptions);></script>
{% endblock %}
