{% extends 'base.html.twig' %}

{% block title %}La souris Verte
{% endblock %}

{% block body %}
	{% if app.user %}
		<header>
			<img class="" src="{{ asset('images/Titre.jpg') }}">
			<div class="uk-position-relative navbar">
				<div class="uk-position-top">
					<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

						<div class="uk-navbar-left">
							<ul class="uk-navbar-nav">
								<li class="uk-active">
									<a href="{{ path('home') }}">Accueil</a>
								</li>
								<li>
									<a href="#">Pointeuse</a>
									<div class="uk-navbar-dropdown drop">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FAMILLE') or is_granted('ROLE_ACCUEIL') %}
												<li>
													<a href="../pointageEnfants">Enfants</a>
												</li>
												<li>
													<a href="../pointageParents">Parents</a>
												</li>
											{% endif %}
											{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EFFECTIF') or is_granted('ROLE_ACCUEIL') %}
												<li>
													<a href="../pointageEffectifs">Effectifs</a>
												</li>
											{% endif %}
										</ul>
									</div>
								</li>

								<li>
									<a href="../absences">Calendrier</a>
								</li>
								{% if is_granted('ROLE_ACCUEIL') %}
									{% else %}
										<li>
											<a href="../forum">forum</a>
										</li>
								{% endif %}
							</ul>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav">
								{% if is_granted('ROLE_ACCUEIL') %}
									{% else %}
										<li>
											<a href="#">Mon compte</a>
											<div class="uk-navbar-dropdown drop">
												<ul class="uk-nav uk-navbar-dropdown-nav">
													<li>
														<a href="../listUsers">Gestion Utilisateur</a>
													</li>
													<li>
														<a href="../familles">Espace des Familles</a>
													</li>
													<li>
														<a href="../effectifs">Espace du personnel</a>
													</li>
													<li>
														<a href="../commissions">Contact Commissions</a>
													</li>
												</ul>
											</div>
										</li>
								{% endif %}
								<li>
									<a href="{{ path('app_logout') }}">Se déconnecter</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<p class="user">{{ app.user.nom }}</p>
		</header>
		<main>


			{% block contenu %}{% endblock %}
		</main>
	{% else %}
		<h1 class="h3 mb-3 font-weight-normal">Bienvenue</h1>
		<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
			<a class="uk-align-center uk-button uk-button-default uk-button-large" href="{{ path('app_login') }}">Connexion</a>
			<a class="uk-align-center uk-button uk-button-default uk-button-large" href="{{ path('app_register') }}">Inscription</a>
		</div>
	{% endif %}


{% endblock %}
