{% extends 'home/index.html.twig' %}

{% block contenu %}

	<h1 class="h3 mb-3 font-weight-normal">Espace Commission</h1>

	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FAMILLE') or is_granted('ROLE_EFFECTIF') %}

		<table id="" class="uk-table uk-table-divider">
			<thead>
				<h3 class="h3 mb-3 font-weight-normal">Les Commissions</h3>
				<tr id="">
					<th class="uk-table-expand">LIBELLE</th>
					<th class="uk-table-expand">CONTACTER</th>
				</tr>
			</thead>
			<tbody>
				{% for commission in commissions %}
					{% if commission %}

						<tr id="">
							<td>{{ commission.nomCommission }}</td>
							<td>
								<div>
									<button id="button" class="uk-button uk-button-default uk-button-small" type="button" uk-toggle="target: #modal-example{{ commission.id }}">Contacter</button>
									<div id="modal-example{{ commission.id }}" uk-modal>
										<div class="uk-modal-dialog uk-modal-body">
											<h2 class="uk-modal-title">{{ commission.nomCommission }}</h2>
											<form action="/email" method="post">
												<div>
													<label for="msg">Message :</label>
													<input name="id_commission" type="hidden" value="{{ commission.id }}">
													<textarea id="msg" name="user_message"></textarea>
												</div>
												<p class="uk-text-right">
													<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
													<button class="uk-button uk-button-secondary" type="submit">Envoyer</button>
												</p>
											</form>
										</div>
									</div>
								</div>
								{% if is_granted('ROLE_ADMIN') %}
									<div>
										<div class="uk-inline">
											<a id="button" class="uk-button uk-button-secondary uk-button-small" href="{{ path('commissions_edit', {id: commission.id}) }}">Modifier</a>
											<div uk-drop>
												<div class="uk-card uk-card-body uk-card-default">Attention !!</div>
											</div>
										</div>
										<div class="uk-inline">
											<a id="button" class="uk-button uk-button-secondary uk-button-small" href="{{ path('commissions_delete', {id: commission.id}) }}">Supprimer</a>
											<div uk-drop>
												<div class="uk-card uk-card-body uk-card-default">Attention !!</div>
											</div>
										</div>
									</div>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="uk-button uk-button-default uk-button-small" href="{{ path('commissions_add') }}">Ajouter une commission</a>
		{% endif %}

	{% else %}
		<p>Vous n'avez pas accés a cette section</p>
	{% endif %}
{% endblock %}
