{% extends 'home/index.html.twig' %}

{% block contenu %}
	<h1>Les Absences</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Membre</th>
				<th>Motif</th>
				<th>DateDebut</th>
				<th>DateFin</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for absence in absences %}
				<tr>
					{% if absence.enfants is defined and absence.enfants != null %}
						<td>{{ absence.enfants }}</td>
					{% else %}
						<td>{{ absence.effectifs }}</td>
					{% endif %}
					<td>{{ absence.motif }}</td>
					<td>{{ absence.dateDebut ? absence.dateDebut|date('Y-m-d') : '' }}</td>
					<td>{{ absence.dateFin ? absence.dateFin|date('Y-m-d') : '' }}</td>
					<td>
						<a class="uk-button uk-button-default uk-button-small" href="{{ path('absences_show', {'id': absence.id}) }}">+ info</a>
						{% if absence.enfants is defined and absence.enfants != null %}
							{% if absence.enfants.familles.users == app.user or is_granted('ROLE_ADMIN') %}
								<a class="uk-button uk-button-secondary uk-button-small" href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>
							{% endif %}
						{% else %}
							{% if absence.effectifs.Users == app.user == app.user or is_granted('ROLE_ADMIN') %}
								<a class="uk-button uk-button-secondary uk-button-small" href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>
							{% endif %}
						{% endif %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas d'abscence enregistré</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a id="button" class="uk-button uk-button-default uk-button-small" href="{{ path('absences_new') }}">Signaler une absence</a>
	{% endif %}
	{% if is_granted('ROLE_FAMILLE') %}
		<a id="button" class="uk-button uk-button-default uk-button-small" href="{{ path('absencesEnfants_new') }}">Absence Enfant</a>
	{% endif %}
	{% if is_granted('ROLE_EFFECTIF') %}
		<a id="button" class="uk-button uk-button-default uk-button-small" href="{{ path('absencesEffectifs_new') }}">Absence Personnel</a>
	{% endif %}
{% endblock %}
