{% extends 'home/index.html.twig' %}

{% block contenu %}

	<h1 class="h3 mb-3 font-weight-normal">Espace Famille</h1>

	{% if is_granted('ROLE_FAMILLE') or is_granted('ROLE_ADMIN')%}
		<h3 class="h3 mb-3 font-weight-normal">Les enfants</h3>
		{% if enfants is defined and enfants %}
			<div class="uk-child-width-1-2@m pointeuse_grid" uk-grid>
				{% for enfant in enfants %}
					<div id="nopad" class="uk-card uk-card-default uk-width-1-2@m">
						<div class="uk-card-header">
							<div class="uk-grid-small uk-flex-middle" uk-grid>
								<div class="uk-width-auto">
									<img class="uk-inline-clip uk-transition-toggle pointeuse" src="{{ asset( 'images/nomImage_image/' ~ enfant.nomImage) }}">
								</div>
								<div class="uk-width-expand">
									<h3 class="uk-card-title uk-margin-remove-bottom">{{ enfant }}</h3>
									<p class="uk-text-meta uk-margin-remove-top">{{ enfant.genre }}</p>
									<p class="uk-text-meta uk-margin-remove-top">
										<time datetime="2016-04-01T19:00">{{ enfant.dateNaissance  | date('d/m/Y') }}</time>
									</p>
								</div>
							</div>
						</div>
						<div class="uk-card-body">
							<ul>
								<li>NATIONALITE
									<div class="fiche">{{ enfant.nationnalit }}</div>
								</li>
								<li>LIEU DE NAISSANCE
									<div class="fiche">{{ enfant.lieuNaissance }}</div>
								</li>
								<li>COMMISSION PARENTS
									<div class="fiche">{{ enfant.commissions.nomCommission }}</div>
								</li>
								<li>DROIT DIFFUSION
									<div class="fiche">
										{% if enfant.rgpd %}Oui{% else %}Non{% endif%}</div>
									</li>
								</li>
								<li>DATE D'ENTREE
									<div class="fiche">{{ enfant.dateArrivee  | date('d/m/Y') }}</div>
								</li>
								<li>DATE DE DEPART
									<div class="fiche">
										{% if enfant.dateDepart == null %}
											{% else %}
												{{ enfant.dateDepart  | date('d/m/Y') }}
										{% endif %}
									</div>
								</li>
							</ul>
						</div>
						<div id='log' class="uk-card-footer">
							<a class="uk-button uk-button-text" href="">Pointages</a>
							<a class="uk-button uk-button-text" href="">Absences</a>
							<a class="uk-button uk-button-text" href="{{ path('enfants_edit', {id: enfant.id}) }}">Modifier</a>
							<a class="uk-button uk-button-text" href="{{ path('enfants_delete', {id: enfant.id}) }}">Supprimer</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if is_granted('ROLE_FAMILLE') %}
			<a id="button" class="uk-button uk-button-default uk-button-small" href="{{ path('enfants_add') }}">Ajouter un enfant</a>
		{% endif %}

		<h3 class="h3 mb-3 font-weight-normal">Les parents</h3>
		{% if parents is defined and parents %}
			<div class="uk-child-width-1-2@m pointeuse_grid" uk-grid>
				{% for parent in parents %}
					<div id="nopad" class="uk-card uk-card-default uk-width-1-2@m">
						<div class="uk-card-header">
							<div class="uk-grid-small uk-flex-middle" uk-grid>
								<div class="uk-width-auto">
									<img class="uk-inline-clip uk-transition-toggle pointeuse" src="{{ asset( 'images/nomImage_image/' ~ parent.nomImage) }}">
								</div>
								<div class="uk-width-expand">
									<h3 class="uk-card-title uk-margin-remove-bottom">{{ parent }}</h3>
									<p class="uk-text-meta uk-margin-remove-top">{{ parent.telephone }}</p>
									<p class="uk-text-meta uk-margin-remove-top">{{ parent.email }}</p>
								</div>
							</div>
						</div>
						<div class="uk-card-body">
							<ul>
								<li>LANGUE MATERNELLE
									<div class="fiche">{{ parent.langueMaternelle }}</div>
								</li>
								<li>ADRESSE
									<div class="fiche">{{ parent.adresseComplette }}</div>
								</li>
							</ul>
						</div>
						<div id='log' class="uk-card-footer">
							<a class="uk-button uk-button-text" href="">Pointages</a>
							<a class="uk-button uk-button-text" href="">Absences</a>
							<a class="uk-button uk-button-text" href="{{ path('parents_edit', {id: parent.id}) }}">Modifier</a>
							<a class="uk-button uk-button-text" href="{{ path('parents_delete', {id: parent.id}) }}">Supprimer</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if is_granted('ROLE_FAMILLE') %}
			<a id="button" class="uk-button uk-button-default uk-button-small" href="{{ path('parents_add') }}">Ajouter un parent</a>
		{% endif %}
	{% else %}
			<button id="button" class="uk-button uk-button-default uk-button-small" type="button" uk-toggle="target: #modal-example">Demander acces Famille</button>

			<div id="modal-example" uk-modal>
				<div class="uk-modal-dialog uk-modal-body">
					<h2 class="uk-modal-title">Se signaler en tant que Famille</h2>
					<form action="/emailAcces" method="post">
						<div>
							<label for="msg">Message :</label>
							<input name="espace" type="hidden" value="Famille">
							<textarea id="msg" name="user_message"></textarea>
						</div>
						<p class="uk-text-right">
							<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
							<button class="uk-button uk-button-secondary" type="submit">Envoyer</button>
						</p>
					</form>
				</div>
			</div>
	{% endif %}
{% endblock %}
